@page
@model OdeToFood.Pages.Shared.Restaurants.ListModel
@{
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            @* (asp-for="SearchTerm") is similar to Model.SearchTerm, it make it match the output value property *@
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>

@foreach (var restaurant in Model.Restaurants)
{
     <partial name="_Summary" model="restaurant" />   
}


<a asp-page=".\Edit" class="btn btn-primary">Add new</a>

<div>@Model.Message</div>

